<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Budgtr</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    
     
    
    <div class="row">
      

        <div><h1>Budgtr</h1> </div>
        <div><h1>Total: <%= bankTotal%></h1></div>
      
    </div>
        <a href="/budgets/new"><button>new item</button></a>
        <table>
            <% for(let index in allBudgets) {%>
                <tr>
                    <td>
                        <%=allBudgets[index].date%> 
                    </td>
                    <td>
                        <a href="/budgets/<%=index%>"><%= allBudgets[index].name%></a>

                    </td>
                    <td>
                        <%=allBudgets[index].amount%> 
                    </td>

                </tr> 
            <% } %> 
        </table>
        
      
    
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
